body,
ul {
  margin: 0;
  padding: 0;
  background-color: var(--bluegreen);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55;
}

:root {
  --bluegreen: #466b73;
  --lightturq: #81a6a2;
  --light: #fcf5e3;
  --soft: #bf826b;
  --dark: #260b0b;
}

@font-face {
  font-family: "calendas_plusregular";
  src: url("calendas_plus-webfont.eot");
  src: url("calendas_plus-webfont.eot?#iefix") format("embedded-opentype"),
    url("calendas_plus-webfont.woff2") format("woff2"),
    url("calendas_plus-webfont.woff") format("woff"),
    url("calendas_plus-webfont.ttf") format("truetype"),
    url("calendas_plus-webfont.svg#calendas_plusregular") format("svg");
}

h1,
h2,
h3,
h4 {
  font-family: "calendas_plusregular";
}

p {
  font-family: "Figtree";
}

i {
  font-size: x-large;
  color: var(--dark);
}

a {
  color: var(--light);
}

i:hover {
  color: var(--bluegreen);
  transition: 0.3s ease-in-out;
}

span.blockspam {
  display: none;
}

img {
  border-radius: 15px;
}

#portfolio {
  margin-top: 10px;
  text-align: center;
  color: var(--light);
}


#portfolio h2 {
  font-size: xx-large;
  color: var(--light);
}



span {
  font-family: "calendas_plus";
  padding: 4px;
  border-radius: 2px;
  font-weight: bold;
}

/*intro section */

#intro {
  background-color: var(--lightturq);
  min-height: calc(50vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  max-width: 100%;
}

.intro-blurb {
  border-radius: 15px;
}

#intro span {
  background-color: var(--bluegreen);
  color: var(--light);
}

.intro-blurb {
  text-align: center;
  margin: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  color: var(--light);
}



/*nav bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 40px;
  z-index: 9999;
  top: 0;
  position: fixed;
  background-color: var(--bluegreen);
  width: 100%;
}

.logo {
  color: var(--light);
  font-weight: 700;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.nav-menu li a {
  display: block;
  color: var(--light);
  padding: 0.5rem 1rem;
  z-index: 999;
  font-weight: 100;
  text-decoration: none;
  margin-right: 50px;
}

.nav-menu a:hover {
  color: white;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .navbar {
    height: 40px;
    background-color: var(--bluegreen);
  }

  .nav-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 25px;
  }
  .nav-toggle i {
    color: var(--light);
  }

  .logo a {
    color: var(--white);
  }

  .nav-menu.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--bluegreen);
  }

  .nav-menu.responsive li {
    margin-top: 1px;
  }

  .nav-menu.responsive a {
    color: var(--light);
  }
}

/*hero section */
.hero-image {
  position: relative;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light);
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text h2 {
  font-size: 24px;
}

.photo-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
}

.photo-info p {
  margin: 5px 0;
  color: var(--light);
}
.photo-info a {
  font-weight: bolder;
}

/*portfolio section */

.portfolio-flex {
  display: flex;
  max-width: 100%;
}

.image-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.image-link {
  position: relative;
  flex: 0 0 350px;
  height: 435px;
  width: 300px;
  margin: 10px;
  overflow: hidden;
}

.image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.hover-effect h3,
.hover-effect p,
.hover-effect a {
  margin: 0;
  color: var(--light);
  font-weight: bold;
}

.image-link:hover .hover-effect {
  opacity: 1;
}

@media (max-width: 768px) {
  .hover-effect {
    opacity: 1;
    border-radius: 15px;
  }
  .portfolio-flex {
    display: flex;
    flex-direction: row;
    width: 350px;
  }
  .hover-effect h3,
  .hover-effect p {
    display: block;
  }

  .image-link {
    position: relative;
    flex: 0 0 110px;
  }
}

/*about section */
#about {
  padding: 10px;
  background-color: var(--light);
  text-align: center;
}

#about span {
  background-color: var(--bluegreen);
  color: var(--light);
}

.about-image {
  text-align: center;
  margin-bottom: 20px;
}

.about-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--soft);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@media (max-width: 768px) {
  .about-image img {
    width: 250px;
    height: 250px;
  }
}

.about-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  padding: 20px;
}

.about-info div {
  text-align: center;
}

.about-info h2 {
  font-size: 18px;
  margin-bottom: -15px;
}

.about-info p {
  font-size: 14px;
}

.about-blurb {
  text-align: center;
  width: 768px;
}

.about-blurb h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-blurb p {
  font-size: 16px;
}

footer {
  background-color: var(--light);
  text-align: center;
}
